$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$text-color: #403424; 
$main-brown: #5D2F22;
$dark_brown: #0C0E0B;
$cream: #FEF6D1;
$band: #A66A45;
$black: #25130e;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #5a5466;
}

.main {
  position: absolute;
  background-color: $main-brown;
}

.dark {
  position: absolute;
  background-color: $dark_brown;
}

.band {
  position: absolute;
  background-color: $band;
}

.high {
  position: absolute;
  background-color: #D9BCAC;
}

.black {
  position: absolute;
  background-color: $black;
}

.canvas {
  height: 400px;
  width: 650px;
  background-color: $cream;
  position: absolute;
  margin: auto;
}

.message {
  text-align: center;
  color: $text-color;
  line-height: 700px; 
  padding-left: 22px;
}

.pipe_circle {
  position: absolute;
  background-color: $main_brown;
  border-radius: 50%;
  height: 5px;
  width: 5px;;
}
.pipe_circle_dark{
  position: absolute;
  background-color: $dark_brown;
  border-radius: 50%;
  height: 5px;
  width: 5px;;
}
.pipe_circle_band{
  position: absolute;
  background-color: $band;
  border-radius: 50%;
  height: 5px;
  width: 5px;;
}

.eraser {
  position: absolute;
  background-color: $cream;
  border-radius: 50%;
  height: 5px;
  width: 5px;;
}

.eraser_rectangle {
  position: absolute;
  background-color: $cream;
  height: 5px;
  width: 5px;;
}
